body {
    line-height: 1.6;
    font-size: 16px;
    padding: 32px;
    font-family: "Merriweather", serif;
    font-display: block;
}

button {
    background: none;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 4px 8px;
    margin: 0;
    cursor: pointer;
}

.title {
    font-size: 18px;
}

.controls button {
    min-width: 300px;
    display: block;
}

.controls button + button {
    margin-top: 4px;
}

.layout {
    display: flex;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 48px);
    grid-template-rows: repeat(10, 48px);
    grid-gap: 2px;
    margin: 0 2px;
}

.pieces {
    display: grid;
    grid-template-columns: repeat(4, 48px);
    grid-template-rows: repeat(10, 48px);
    grid-gap: 2px;
}

.board .allowed {
    border-color: royalBlue;
}

.tile {
    border: 1px solid #ddd;
}

.tile.camp {
    background-color: #000;
}

.tile.blue {
    border-color: #2196f3;
}

.tile.red {
    border-color: #f44336;
}

.tile.none {
    border-color: #aaa;
}

.tile.hinting {
    border-color: #4caf50;
}
